html(lang='ru')
	head
		title myITbiz - Разработка сайтов и программного обеспечения
		meta(charset="UTF-8")
		link(rel="icon" type="image/png" href=require("./image/favicon.ico"))
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		
		<meta name="description" content="Создание сайтов различного типа(корпоративные, визитки, дизайн, интернет магазина), разработка программного обеспечения, игр и приложений" />
		<meta property="og:title" content="Разработка различных сайтов и программного обеспечения на заказ" />
	
		<meta property="og:description" content="Компания myITbiz это создание сайтов различного типа (корпоративные, визитки, дизайн, интернет магазина), разработка программного обеспечения, игр и приложений" />
		<meta name="keywords" content="создание сайтов, лендинг пейдж,landing page, продвижение сайтов,разработка игр,разработка программ,разработка программного обеспечения, разработка приложений,разработка сайтов" />

		//<meta property="og:image" content="opengraph.png" />
		
		<meta property="og:url" content="http://myitbiz.ru/" />

		link(rel="canonical" href="http://myitbiz.ru/")
		link(rel="shortcut icon" href=require("./image/favicon.ico"))
		link(rel="alternate" href="http://myitbiz.ru/" hreflang="ru" title="Russian (Русский)")
		link(rel="alternate" href="http://myitbiz.ru/" hreflang="x-default")


		//HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		//WARNING: Respond.js doesn't work if you view the page via file://

		//- <!--[if lt IE 9]>
		//- 	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		//- 	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		//- <![endif]-->

		meta(name="yandex-verification" content="7bbf65f60bba6b1b")


	noscript
		div
			img(src="https://mc.yandex.ru/watch/39219305" style="position:absolute; left:-9999px;" alt="")

	body(data-spy="scroll" data-target=".navbar" data-offset="90")
		div.mouse1
		section.block_video
			.block_video__info
				.logo						
				h1 Создание сайтов
				h1 Разработка программ
				h2 "Мы делаем Ваш бизнес лучше"
				a.arrow_down(href='#service')
		.container-fluid
			.row
				.navbar.navbar-inverse.menu
					.container
						a.tel1(href='tel:+79772570798')
							span.glyphicon.glyphicon-earphone
							|+7(977) 257-07-98
						.navbar-header
							button.navbar-toggle(type='button' data-toggle='collapse' data-target='#responsive-menu')
								span.sr-only Открыть меню
								span.glyphicon.glyphicon-th-list(style='color: #fff;')
						.collapse.navbar-collapse#responsive-menu
							ul.nav.navbar-nav
								li.active
									span.hidden-xs.logo_min
								li
									a(href="#service") Услуги
								li
									a(href="#port" ) Портфолио
								li
									a(href="#techno") Технология
								li
									a(href="#conect") Связаться
						



		section.block4.container-fluid#service
			.row(style="margin-right: 0px;")
				h1 Услуги
				-for (var i1 = 0; i1 < 2; i1++)
					.block_servise.col-sm-offset-3.col-lg-offset-2.col-xs-12.col-sm-6.col-lg-3
						.col-xs-6.col-sm-6.position.c
							div.m.rot1(style="transform: rotateY(0deg);")
								div.col-xs-6
								div.back
						-for (var i = 2; i < 5; i++)
							.col-xs-6.col-sm-6.position.c
								div.m(class = 'rot'+i style="transform: rotateY(0deg);")
									div.col-xs-6
									div.back
							.col-xs-6.col-sm-6.position.c
								div.m(class = 'rot'+i style="transform: rotateY(0deg);")
									div.col-xs-6
									div.back
						.col-xs-6.col-sm-6.position.c
							div.m.rot5(style="transform: rotateY(0deg);")
								div.col-xs-6
								div.back
				.col-sm-offset-3.col-lg-offset-2.col-sm-6.col-xs-12.col-lg-3.abs
					.img_dev.img_dev_web
					h2.w Разработка сайтов
					ul.my-mark
						each val in ['Landin Page', 'Корпоративные сайты', 'CRM системы','Дизайнерские сайты']
							li
								i.glyphicon.glyphicon-ok.p10
								|#{val}
					a.btn.btn-default(href="#infoweb" role="button") Подробнее
				.col-sm-offset-3.col-lg-offset-7.col-xs-12.col-sm-6.col-lg-3.abs.abs_correct
					.img_dev.img_dev_prog
					h2.w Разработка программ
					ul.my-mark1
						each val in ['Корпоративные программы', 'Мобильные приложения', 'Разработка игр','Разработка скриптов']
							li
								i.glyphicon.glyphicon-ok.p10
								|#{val}
					a.btn.btn-default(href="#infoprogramm" role="button") Подробнее
		hr
		section.block_portfolio.text-center#port
			h1 Портфолио
			.row.portfolio
				.col-sm-6.col-md-3
					.thumbnail
						.img_port.img_port1
						.caption
						h3 Торговля кондитерскими изделиями
						p.p10
							a.btn.btn-primary(href="http://sibtrayd.ru" role="button" target='_blanck') Перейти на сайт

				.col-sm-6.col-md-3
					.thumbnail
						.img_port.img_port2
						.caption
						h3 Москитные сетки
						p.p10
							a.btn.btn-primary(href="http://setki5.ru" role="button" target='_blanck') Перейти на сайт
				.col-sm-6.col-md-3
					.thumbnail
						.img_port.img_port3
						.caption
						h3 Оптовая продуктовая компания
						p.p10
							a.btn.btn-primary(href="http://fen-ix.ru" role="button" target='_blanck') Перейти на сайт
				.col-sm-6.col-md-3
					.thumbnail
						.img_port.img_port4
						.caption
						h3 Шторы на окна
						p.p10 
							a.btn.btn-primary(href="http://shtori25.ru" role="button" target='_blanck') Перейти на сайт
			hr
			.row.portfolio
				p Больше работ предоставляем по Вашему запросу
			hr

		section.block_techno_pre#techno
			.block_techno.block_techno_im1
				.block_click
				h1.tit_techno.p10 Используемые технология
				.container.block_techno_1
					.row
						//.col-sm-offset-2.col-xs-1.pr0
						.col-sm-offset-2.col-sm-1.col-xs-3.pr0
							.thumbnail
								img(src=require('./image/techno/all/php.png'))

						each val in ['android.svg.png', 'apache.png', 'bootstrap.png', 'cpp.png', 'csh.png', 'CSS.png', 'drupal.png']
							.col-xs-3.col-sm-1.pr0
								.thumbnail
									img(src=require('./image/techno/all/' + val))
					.row
						.col-sm-offset-2.col-sm-1.col-xs-3.pr0
							.thumbnail
								img(src=require('./image/techno/all/HTML5.png'))

						each val in ['jade-logo.png','java.png','joomla.png','jQurery.gif','js.png','Microsoft_SQL_Server.png','MODX.png']
							.col-xs-3.col-sm-1.pr0
								.thumbnail
									img(src=require('./image/techno/all/' + val))
					.row
						.col-sm-offset-2.col-sm-1.col-xs-3.pr0
							.thumbnail
								img(src=require('./image/techno/all/MySQL.svg.png'))

						each val in ['nodejs.png','Python.png','unity3d.png','WebGL.png','webpack.png','wordpress.png','ZendFramework.png']
							.col-xs-3.col-sm-1.pr0
								.thumbnail
									img(src=require('./image/techno/all/' + val))
		hr
		section.block_contact.text-center#conect
			h1.p10 Обратная связь
			.container
				.row
					.col-sm-6.col-sm-offset-3.form
						// Контейнер, содержащий форму обратной связи
						.panel.panel-info.text-left
							.panel-body
								// Сообщение, отображаемое в случае успешной отправки данных
								#successMessage.alert.alert-success.hidden(role='alert')
									strong Спасибо!
									|	Ваше сообщение успешно отправлено.
								// Форма обратной связи
								form#contactForm
									.row
										#error.col-sm-12(style='color: #ff0000; margin-top: 5px; margin-bottom: 5px;')
										// Имя и mail пользователя
										.col-sm-6
											// Имя пользователя
											.form-group.has-feedback
												label.control-label(for='name') Введите ваше имя:
												input#name.form-control(type='text', name='name', required='required', value='', placeholder='Например, Иван Иванович', minlength='2', maxlength='30')
												span.glyphicon.form-control-feedback
										.col-sm-6
											// Email пользователя
											.form-group.has-feedback
												label.control-label(for='mail') Введите адрес email:
												input#mail.form-control(type='email', name='mail', required='required', value='', placeholder='Например, ivan@mail.ru', maxlength='30')
												span.glyphicon.form-control-feedback
									// Сообщение пользователя
									.form-group.has-feedback
										label.control-label(for='message') Введите сообщение:
										textarea#message.form-control(rows='3', placeholder='Введите сообщение от 20 до 500 символов', minlength='20', maxlength='500')
									button.btn.btn-primary.pull-right(type='submit') Отправить сообщение
								// Конец формы
						// Конец контейнера
		
		section.block_infoweb.container-fluid.text-center#infoweb
			.row(style="margin-right: 0px;")
				h1.w Разработка сайтов
				.block_servise.col-sm-offset-2.col-lg-offset-2.col-xs-12.col-sm-8.col-lg-8
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb1(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb2(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb3(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white

					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb2(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb3(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb5(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white

					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb3(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb5(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb6(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white

					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb5(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb6(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white
					.col-xs-3.col-sm-3.position.c
						div.m.rot_infoweb7(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_white

				.col-sm-offset-2.col-lg-offset-2.col-sm-6.col-xs-11.col-lg-8.abs1
					h2 Что мы предлагаем и почему Вам стоит нам доверять?
					ul.my-mark2
						each val in ['Слаженный коллектив и большой опыт по работе с клиентами.', 'Адекватные сроки выполнения - от 10 дней', 'Разумные цены','Мы гарантируем отзывчивый сайт и уникальный дизайн','Так же предоставляем бесплатный хостинг на 1 год','Держим клиентов в курсе на всех этапах работы', 'Увеличиваем конверсию на 30%']
							li
								i.glyphicon.glyphicon-ok.p10
								|#{val}
					a.btn.btn-primary(href="#conect" role="button") Заказать
		section.block_infoprogramm.container-fluid.text-center#infoprogramm
			.row(style="margin-right: 0px;")
				h1.w Разработка программного обеспечения
				.block_servise.col-sm-offset-2.col-lg-offset-2.col-xs-12.col-sm-8.col-lg-8
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm1(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm2(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm3(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue

					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm2(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm3(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm5(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue

					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm3(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm5(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm6(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue

					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm4(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm5(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm6(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue
					.col-xs-3.col-sm-3.position.c
						div.m.rot_inforogramm7(style="transform: rotateY(0deg);")
							div.col-xs-3.bc_black
							div.back.bc_blue

				.col-sm-offset-2.col-lg-offset-2.col-sm-6.col-xs-11.col-lg-8.abs2
					h2.w Какое программное обеспечение мы можем предложить для вас?
					ul.my-mark1
						each val in ['Различные CRM системы для Вашей организации.', 'Скриптовые приложения, которые увеличивают эффективность', 'Используем современные и стабильные средства разработки','Мобильные приложения, которые могут привлекать клиентов','Организуем обучение для Ваших сотрудников','Пишем корректную документацию', 'Обеспечиваем плотный контакт с нашим менеджером и регулярно поддерживаем проект']
							li
								i.glyphicon.glyphicon-ok.p10
								|#{val}
					a.btn.btn-default(href="#conect" role="button") Заказать

		section.footer
			.container
				.row
					.col-sm-offset-2.col-sm-3
						p.w Контактный телефот 
						a.tel(href='tel:+79772570798')
							span.glyphicon.glyphicon-earphone
							|+7(977) 257-07-98